html {
    width: 350px;
    overflow: hidden;
    font-family: arial;

    /* Body styling */

    & body {
        margin: 0;
        font-size: 14px;
        /* header styling */
        & header {
            padding: 20px;
            background-color: #5058f2;
            color: #fff;
            & h1 {
                margin: 0;
            }
            & a {
                color: #fff;
            }
        }
        /* Main styling */
        & main {
            padding: 20px;
            line-height: 1.8;
            & .color {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & .right {
                    margin-bottom: 0 !important;
                }
            }
            & svg:has(#qrcode) {
                aspect-ratio: 1;
                padding: 1rem;
                border: 1px solid #000;
            }
            & .settings {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        /* footer styling */
        & footer {
            background-color: #5058f2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            & p {
                color: #fff;
                margin: 0;
                & a {
                    color: #fff;
                }
            }
            & img {
                max-width: 40px;
            }
        }
    }
}

.no-padding {
    padding: 1px 2px;
}
div.formats {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
div.dimensions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & input {
        width: 100px;
    }
}
div.buttons {
    display: flex;
    gap: 20px;
}
